@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="pesquisa">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3>Qual vaga você procura?</h3>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                 height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                        <input type="text" class="form-control" placeholder="Pesquisar por cargo." aria-label="Username"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col-6">
                    <div class="btnpesquisar">
                        <button type="button" class="bpequisar btn btn-danger">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="passos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-center mt-5">
                        <h2>3 passos rumo a sua entrevista de emprego</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="img-passos">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-center"><img src="./lib/imagens/etapa1.svg" class="card_imagem card-img-top" alt="..."></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center ">
                        <h5>
                            1° Passo: Crie sua conta
                        </h5>
                    </div>
                    <center>
                        <p>Em menos de 3 minutos <br>você cria a sua conta aqui com a gente</p>
                    </center>
                </div>
                <div class="col-12 col-md-4">
                    <div></div>
                    <p class="text-center"><img src="./lib/imagens/etapa2.svg" class="card_imagem card-img-top" alt="..."></p>
                    <div class="d-flex align-items-center justify-content-center">
                        <h5>2º passo: Hora do CV.</h5>
                    </div>
                    <center>
                        <p>Cadastre seu currículo <br>e apareça para as empresas.</p>
                    </center>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-center"><img src="./lib/imagens/etapa3.svg" class="card_imagem card-img-top" alt="..."></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <h5>3º passo: Candidate-se</h5>
                    </div>
                    <center>
                        <p>Busque as vagas no seu perfil e candidate-se!</p>
                    </center>
                </div>
            </div>
        </div>
    </section>



    <section class="icons">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-center"><i class=" ic bi bi-building"></i><img src="./lib/imagens/icons8-fone-de-ouvido-50.png" /></p>

                    </div>
                    <div class="d-flex align-items-center justify-content-center ">
                        <h5>
                            Atendimento 24 horas.
                        </h5>
                    </div>
                    <center>
                        <p>Dúvidas ou imprevistos? Fale com os nossos atendentes a qualquer momento.</p>
                    </center>
                </div>
                <br />
                <div class="col-12 col-md-4">
                    <div></div>
                    <p class="text-center"><i class=" ic bi bi-card-checklist"></i><img src="./lib/imagens/icons8-cancelar-assinatura-50.png"/></p>
                    <div class="d-flex align-items-center justify-content-center">
                        <h5>Cancelamento online.</h5>
                    </div>
                    <center>
                        <p>Caso tenha algum imprevisto no dia da sua entrevista, entre em contato conosco que iremos remarcar.</p>
                    </center>
                </div>
                <br />
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-center"><img class=" ic bi bi-stars"><img src="~/lib/imagens/icons8-escada-de-carreira-64.png"/></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <h5>Varias oportunidades de crescer!</h5>
                    </div>
                    <center>
                        <p>Mais de 8 mil vagas no Brasil e 400 mil no mundo. É só se candidatar!!</p>
                    </center>
                </div>
            </div>
        </div>
    </section>

    <section class="text">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-center mb-5">
                        <h2>Ache um emprego na sua área</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pacotes">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/saude.jpg" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-bandaid"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Área da saúde</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/producao.jpg" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-tools"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Produção</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/dinheiro.jpg" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-coin"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Financeiro</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/rh.png" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-people-fill"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Recrutamento & Seleção</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/tec.png" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-pc-display-horizontal"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Tecnologia</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img src="./lib/imagens/educa.jpg" class="card_imagem card-img-top" alt="...">
                                <div class="overlay"></div>
                                <i class="iconcard bi bi-easel-fill"></i>
                                <div class="d-flex align-items-center justify-content-center ">
                                    <h6>Educação</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>

    <section class="btnmaisdestinos">
        <div class="container">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="destinos.html"><button class="btn btn-primary me-md-2" type="button">Mais destinos</button></a>
            </div>
    </section>

</main>